* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background: linear-gradient(#8fc8e7,#f2fcfe);
    height: 927px;
    display: flex;
    
}

.nuage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.nuage1{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;

}
.nuage2{
    height: 100%;
    width: 25%;
    flex-direction: column;


    
}
.nuage3{
    height: 100%;
    width: 23%;


}
.nuage4{
    height: 100%;
    width: 20%;


}
.nuage5{
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;


}
.cloud1{
    height: 100px;
    width: 200px;
    display: flex;
    margin-top: 200px;
}
.rond1{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fccd01;
    margin-top: 100px;
    margin-left: 228px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.barre1{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 30px;
}
.Bar{
    height: 100%;
    width: 9px;
    background-color: #9e532c;

}
.bar{
    height: 100%;
    width: 9px;
    background-color: #8b4312;

}
.petitcarre{
    height: 40px;
    width: 100%;
    margin-top: 15px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}
.cloud2{
    height: 100px;
    width: 200px;
    display: flex;
    margin-top: 80px;

}

.carre1{
    height: 80%;
    width: 40px;
    border: 3px solid #bc8f07;
    background-color: #ffd602;
    margin-top: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

}
.carre2{
    height: 80%;
    width: 40px;
    border: 2px solid #864417;
    background-color: #66441d;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    
}
.carre3{
    height: 80%;
    width: 40px;
    border: 3px solid #bc8f07;
    background-color: #ffd602;
    margin-top: 10px;
    margin-right: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

}

.rond2{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fccd01;
    margin-left: 210px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.barre2{
    width: 60%;
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 70px;
    margin-left: 110px;
}

.cloud3{
    height: 100px;
    width: 200px;
    display: flex;
    margin-top: 130px;
    margin-left: 50px;

}

.rond3{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fccd01;
    margin-left: 200px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.barre3{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 30px;
    margin-left: 50px;
}

.cloud4{
    height: 100px;
    width: 200px;
    display: flex;
    margin-top: 160px;
    margin-left: 70px;
    position: absolute;
    z-index: 2;

}
.rond4{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fccd01;
    margin-left: 60px;
    position: relative;
    margin-top: 240px;
    z-index: 1;
}

.indice{
    height: 40px;
    width: 80px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f2fcfe;
    border-radius: 20px;
    gap: 7px;
    color: #f2fcfe;
    margin-top: 16px;
    background-color: rgba(240, 248, 255, 0.137);
}

.barre5{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 70px;
    margin-left: 20px;
    justify-content: flex-end;
}

.barre4{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 30px;
    margin-left: 120px;
}